- var prefix = "../../$hared/"
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon", type="image/png", href=prefix+"images/cic_logo_small.png")
// Styles
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif')
link(rel="stylesheet", href=prefix+"css/base.css")
link(rel="stylesheet", href=prefix+"css/main.css")
link(rel="stylesheet", href=prefix+"css/animations.css")
// Scripts
script(src=prefix+"js/jquery.js")
script(src=prefix+"js/main.js")
